/* a classe se chama corpow pois é o corpo, 
mas é como se fosse o wrapper 
Ela é tudo que vem abaixo do carrossel*/

.corpow{
    position: absolute;
    margin-left: 0;
    width: 100%;
    height: 3800px;
    background-color: #FFF1C3;
}

/* a div se chama ajuste1 e se refere ao
primeiro conteúdo que tem abaixo do carrossel,
se chama assim pois regula o conteúdo, mas é
transparente */

#ajuste1{
    position: absolute;
    width: 100%;
    height: 700px;
}

/* div referente a imagem no ajuste1 */

.ods7logo{
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 48px;
}

.ajustedotexto1{
    position: relative;
    float: right;
    margin-top: 200px;
    margin-right: 15px;

}

.textoajuste1{
    margin-top: 60px;
    text-align: center;
    font-size: 26px;
    font-family:'Kadwa';
}

#objetivos{
    position: relative;
    margin-left: 0;
    margin-top: 700px;
    width: 100%;
    height: 550px;
}

.ajustetituloobjetivos{
    position: absolute;
    width: 100%;
    height: 425px;

}
.tituloobjetivos{
    text-align: center;
    font-family: 'Kadwa';
    font-size: 64px;
}

.seteum{
    position: absolute;
    text-align: center;
    float: left;
    font-family: 'Kadwa';
    font-size: 48px;
    margin-left: 240px;
}

.setedois{
    position: absolute;
    text-align: center;
    float: left;
    font-family: 'Kadwa';
    font-size: 48px;
    margin-left: 735px;
}

.setetres{
    position: absolute;
    text-align: center;
    float: left;
    font-family: 'Kadwa';
    font-size: 48px;
    margin-left: 1235px;
}

.acordeons{
    position: absolute;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
}

#grafico{
    float: left;
    border-radius: 40px;
    margin-left: 15px;
    width: 600px;
}

.textografico{
    float: right;
    text-align: center;
    font-family: 'Kadwa';
    margin-right: 30px;
    margin-top: 120px;
    font-size: 20px;
}

.tituloexemplos{
    font-family: 'Kadwa';
    float: left;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
}

.brasil{
    float: right;
    width: 600px;
    margin-right: 15px;
}

.textobrasil{
    float: left;
    text-align: center;
    font-size: 24px;
    font-family: 'Kadwa';
    margin-left: 60px;
    margin-top: 110px;
}

.islandia{
    float: left;
    width: 600px;
    margin-left: 15px;
    margin-top: 200px;
}

.textoislandia{
    float: right;
    text-align: center;
    font-size: 24px;
    font-family: 'Kadwa';
    margin-right: 50px;
    margin-top: 150px;
}

.tituloheliotermica{
    font-family: 'Kadwa';
    float: left;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-left: 380px;
}

.heliotermica{
    float: right;
    width: 600px;
    margin-right: 15px;
}

.textoheliotermica{
    float: left;
    text-align: center;
    font-size: 24px;
    font-family: 'Kadwa';
    margin-left: 100px;
    margin-top: 110px;
}

.footer{
    width: 100%;
    margin-bottom: -300px;
}